// Colors
$colorPrimary: #b33939;
$colorPrimaryDarken: #7d2727;
$colorSecondary: #8e44ad;
$colorBlackish: #2f3542;
$colorBlack: #000;
$colorBlue: #3742fa;
$colorDarkBlue: #1b1464;
$colorWhite: #ffffff;
$colorGray100: #f1f2f6;
$colorGray300: #bfbfbf;
$colorGray500: #8c8c8c;
$colorGray700: #595959;

// fonts
$fontPlayfair: "Playfair Display", serif;
$fontRoboto: "Roboto", sans-serif;
$fontKaisei: "Kaisei HarunoUmi", serif;
